@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply w-full min-h-screen  bg-slate-700;
}
.nav {
  @apply w-full flex flex-row justify-start items-center
      text-base text-white bg-slate-900;
}
.nav-logo {
  @apply flex-none text-center text-xs bg-yellow-700 rounded-sm px-5 py-1 my-1 mx-2;
}

.nav-menu {
  @apply flex-grow;
}

.nav-menu input {
  @apply w-full min-w-[10rem] max-w-[30rem] text-black px-2;
}

.playground {
  @apply text-white;
}

.btn {
  @apply px-2 py-1 uppercase rounded-sm bg-slate-600 hover:bg-slate-700 m-1 inline-block;
}

h1 {
  @apply font-serif text-white text-xl;
}

.toolbar {
  @apply bg-cyan-900 mt-5 h-8;
}

.event {
  @apply cursor-pointer text-[12px] 
    border-[0.5px] border-black rounded-full 
    items-center justify-center inline-flex
    transition-all duration-[10ms]
    z-20
    absolute;
  transform: translate(-50%, -50%);
}

.event-sm {
  @apply cursor-pointer text-[5px] 
    border-[0.5px] border-black rounded-full 
    items-center justify-center inline-flex
    transition-all duration-[10ms]
    z-20
    absolute;
  transform: translate(-50%, -50%);
}

.bord {
  border: 1px red solid;
}

.close {
  @apply text-black hover:text-gray-400 bg-slate-400 hover:bg-slate-600 rounded-full w-[16px] h-[16px] inline-flex items-center justify-center
    cursor-pointer;

  &:after {
    font-size: 15px;
    content: "\00d7"; /* This will render the 'X' */
  }
}

.error {
  @apply bg-white text-red-500;
}

.inspect {
  @apply bg-white text-black;
}

.log {
  @apply bg-white text-black text-[0.7em];
}

.tabs {
  @apply flex flex-wrap mb-1;
}

.tab {
  @apply inline-block py-2 px-4 text-sm font-medium text-center 
    text-gray-300 rounded-t-lg border-b-2 border-transparent 
    hover:text-gray-300 hover:border-gray-300;
}

.tab-selected {
  @apply inline-block py-2 px-4 text-sm font-medium text-center 
    text-blue-400 rounded-t-lg border-b-2 border-blue-600;
}
